
  <h1 class="title">Congo</h1>

<!--image-->
{{#each allProducts}}
<div class="container">
  <div class="row">
    <div class="col-6">
      <h2> {{this.name}}</h2>
      <img id="car" class="card-img-top img-fluid" src="" alt="Picture of item" />
    </div>

    <!--sec col and bio par-->
    <div class="col-4" >
      <section class="bio">
        <!-- bio Paragraph -->
        <p id="first-paragraph">
          blah blah blah cool produck yeah its cooll dahdhadhahdahdhadhahhdahdhahdahdhhadhahdhahd
          dhahdhahdhahdahdhhahdhadhahdhadakjdjkajdjad
          dahdhadhahdahdhadhahhdahdhahdahdhhadhahdhahd
        </p>
      </section>
    </div>
  </div>
</div>
<!--like bottons-->
<div class="buttons">
  <div class="col-4 ">
    <button id="{{this.id}}" data-like="{{this.likes}}" class="btn btn-primary like"><i class="fa fa-thumbs-up"></i>
      Like</button>
    <button id="{{this.id}}" data-dislike="{{this.dislikes}}" class="btn btn-primary dislike"><i
        class="fa fa-thumbs-up"></i> Dislike</button>
  </div>
</div>
{{/each}}

<!--item imput-->
<div class="container">
  <div class="row postproduct">
    <div class="col-4" style="width: 18rem;">
    </div>

    <div class="col-4 input" style="width: 18rem;">
      <form>
        <h4>Product Name :</h4>
        <textarea class="product" type="text" name="productName"></textarea><br>
      </form>
 
      <h4>Brief Description : </h4>
      <textarea class="description" name="message" rows="10" cols="30" placeholder="Brief description..."></textarea>
      <br></br>
      <button id="submission" type="submit"> Submit </button>
    </div>

    <div class="col-4" style="width: 18rem;">
    </div>
  </div>
</div>
