<h1 class="title">Congo</h1>
<div class="welcoming">
  <p id="hello"></p>
  <p><span id="addProduct">Add a Product!</span></p>
  <p><span id="logout">Log Out</span></p>
</div>
<!--image-->
{{#each allProducts}}
<div class="container">
  <div class="row product">
    <div class="col-6">
      <h2> {{this.name}}</h2>
      <p class="postedBy" id="{{this.userID}}"></p>
      <img id="car" class="card-img-top img-fluid" src="" alt="Picture of item" />
    </div>

    <!--sec col and bio par-->
    <div class="col-4">
      <section class="bio">
        <!-- bio Paragraph -->
        <p id="first-paragraph">{{this.description}}</p>
      </section>
    </div>
  </div>
</div>
<!--like bottons-->
<div class="buttons">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4 ">
      <button id="{{this.id}}" data-like="{{this.likes}}" class="btn btn-primary like"><i class="fa fa-thumbs-up"></i>
        {{this.likes}} Likes</button>
      <button id="{{this.id}}" data-dislike="{{this.dislikes}}" class="btn btn-primary dislike"><i
          class="fa fa-thumbs-up"></i>{{this.dislikes}} Dislikes</button>
    </div>
  </div>
</div>
{{/each}}

<script src="https://code.jquery.com/jquery.js"></script>
<script src="assets/js/script.js"></script>
